<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boc.accuratetest.mappers.TestedMethodsMapper">
  <resultMap id="BaseResultMap" type="com.boc.accuratetest.pojo.TestedMethods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="package_name" jdbcType="VARCHAR" property="packageName" />
    <result column="javabean_name" jdbcType="VARCHAR" property="javabeanName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="param_type" jdbcType="VARCHAR" property="paramType" />
    <result column="call_time" jdbcType="VARCHAR" property="callTime" />
    <result column="call_time_long" jdbcType="BIGINT" property="callTimeLong" />
  </resultMap>
  <sql id="Base_Column_List">
    id, package_name, javabean_name, method_name, param_type, call_time, call_time_long
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tested_methods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tested_methods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boc.accuratetest.pojo.TestedMethods">
    insert into tested_methods (id, package_name, javabean_name, 
      method_name, param_type, call_time, 
      call_time_long)
    values (#{id,jdbcType=INTEGER}, #{packageName,jdbcType=VARCHAR}, #{javabeanName,jdbcType=VARCHAR}, 
      #{methodName,jdbcType=VARCHAR}, #{paramType,jdbcType=VARCHAR}, #{callTime,jdbcType=VARCHAR}, 
      #{callTimeLong,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.boc.accuratetest.pojo.TestedMethods">
    insert into tested_methods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="packageName != null">
        package_name,
      </if>
      <if test="javabeanName != null">
        javabean_name,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="paramType != null">
        param_type,
      </if>
      <if test="callTime != null">
        call_time,
      </if>
      <if test="callTimeLong != null">
        call_time_long,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="packageName != null">
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="javabeanName != null">
        #{javabeanName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        #{callTime,jdbcType=VARCHAR},
      </if>
      <if test="callTimeLong != null">
        #{callTimeLong,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boc.accuratetest.pojo.TestedMethods">
    update tested_methods
    <set>
      <if test="packageName != null">
        package_name = #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="javabeanName != null">
        javabean_name = #{javabeanName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        param_type = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null">
        call_time = #{callTime,jdbcType=VARCHAR},
      </if>
      <if test="callTimeLong != null">
        call_time_long = #{callTimeLong,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boc.accuratetest.pojo.TestedMethods">
    update tested_methods
    set package_name = #{packageName,jdbcType=VARCHAR},
      javabean_name = #{javabeanName,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      param_type = #{paramType,jdbcType=VARCHAR},
      call_time = #{callTime,jdbcType=VARCHAR},
      call_time_long = #{callTimeLong,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="insertBatchForTestedMethods" parameterType="java.util.List">
    insert into tested_methods (package_name, javabean_name, method_name, param_type,call_time, call_time_long)
    values 
    <foreach collection="list" index="index" item="item" separator=",">
	    (#{item.packageName,jdbcType=VARCHAR}, #{item.javabeanName,jdbcType=VARCHAR}, 
      #{item.methodName,jdbcType=VARCHAR}, #{item.paramType,jdbcType=VARCHAR}, #{item.callTime,jdbcType=VARCHAR}, 
      #{item.callTimeLong,jdbcType=BIGINT})
    </foreach>
  </insert>
  
  <select id="getAll" resultMap="BaseResultMap">
    select DISTINCT package_name,javabean_name,method_name,param_type
    from tested_methods 
  </select>
  <update id="updateChangeCodeTestingOrNot">
    UPDATE change_code c,tested_methods t  SET c.testing_or_not = 1
		WHERE c.package_name = t.package_name
			and c.javabean_name = t.javabean_name
			and c.method_name = t.method_name
			and c.param_type = t.param_type
	;
  </update>
</mapper>